$base-white: #fff;
$base-off-white: #f6efe7;
$base-black: #000;

$primary-violet: #ac8fff;
$primary-violet-light: #c1b7ff;
$primary-violet-dark: #4e4586;

$secondary-rich-black: #0a042a;
$secondary-night-blue: #131b65;
$secondary-pink: #b83695;
