@import './core';

html {
  @include text-rendering;

  scroll-behavior: smooth;
}

body {
  width: 100%;

  color: $primary-violet;
  background: $base-black;

  font-family: $font-body;
  font-size: $text-base;
  font-weight: $font-regular;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: $breakpoint-extra-wide;
}

.content__inner {
  padding: $space-4;
}
