@import './base';

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-violet-light);
  background: var(--base-black);

  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: var(--font-regular);
}
