.header
{
    position: absolute;
    z-index: 1;

    width: 100%;
    padding-top: $space-12;

    // mix-blend-mode: difference;
}

.logo
{
    font-size: $text-sm;

    letter-spacing: .02rem;
    text-transform: lowercase;

    color: $base-white;
}

@include screen($breakpoint-regular)
{
    .header
    {
        text-align: center;
    }

    .logo
    {
        font-size: $text-lg;
    }
}
