.header {
  position: absolute;
  padding-top: $space-12;
}

.header__logo {
  font-size: $text-sm;
  font-weight: $font-bold;
  letter-spacing: 0.02rem;
  text-transform: lowercase;
}

@include screen($breakpoint-regular) {
  .header__logo {
    font-size: $text-lg;
  }
}
