.header {
  padding: var(--space-14) 0;
}

.header__logo {
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  letter-spacing: 0.02rem;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
