.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 136px);
  overflow-x: hidden;
}

.title {
  font-size: var(--text-3xl);
  letter-spacing: 0.06rem;
  mix-blend-mode: hard-light;

  span {
    display: block;
  }
}

.background-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

.background-container__image {
  height: 100vh;
}
