.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  overflow: visible;
}

.title {
  padding: $space-28 0;
}

.title__word {
  display: block;

  font-size: $text-3xl;
  letter-spacing: 0.06rem;
  color: $primary-violet-light;
}

.parallax,
.background-container {
  position: absolute;
  top: -1rem;
  right: 0;
  height: 120vh;
  width: 100%;
  max-width: 1200px;
  margin-left: 1rem;
}

.background-container__image {
  height: 100vh;
}

@media (min-width: 768px) {
  .parallax,
  .background-container {
    height: 90vh;
    width: 80%;
  }
}
