.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: $space-24 0;
}

.label {
  font-size: $text-sm;
  font-weight: $font-bold;
  letter-spacing: 0.02rem;
  text-transform: lowercase;
}

@include screen($breakpoint-regular) {
  .label {
    font-size: $text-lg;
  }
}
