.container
{
    display: flex;
    align-items: center;

    padding: $space-24 0;
}

.label
{
    margin-right: 1rem;

    text-transform: lowercase;

    mix-blend-mode: difference;
    @extend .typography-small-text;
}

@include screen($breakpoint-regular)
{
    .label
    {
        font-size: $text-lg;
    }
}
