.indicator {
  height: 32px;
  width: 20px;
  border: 2px solid $primary-violet;
  border-radius: 33px;
}

.indicator__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator__wheel {
  margin-top: 5px;
  height: 10px;
  width: 2px;
  background-color: $primary-violet;
  border-radius: 2px;
}

.indicator__scroll {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: $primary-violet;
  border-radius: $rounded-full;
}
