.indicator
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.indicatorLine
{
    position: relative;

    width: 2px;
    height: 1rem;

    border-radius: 2px;
    background-color: $base-white;
}

.indicatorScroll
{
    position: absolute;

    width: 6px;
    height: 6px;

    border-radius: $rounded-full;
    background-color: $base-white;
}
