.intro {
  padding: $space-28 0;
  margin: 0;

  font-size: $text-2xl;
  font-weight: $font-black;
  color: $primary-violet;
}

.intro__text {
  // background: url('../../../assets/images/text-bg.jpeg');
  // background-attachment: fixed;
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;;
}

@include screen($breakpoint-regular) {
  .intro {
    max-width: 500px;

    font-size: $text-4xl;
  }
}
