.intro {
  padding: var(--space-28) 0;
}

.intro__text {
  font-size: var(--text-2xl);
  font-weight: var(--font-black);
  color: var(--primary-violet-light);
  mix-blend-mode: hard-light;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background: url('../../../assets/images/text-bg.jpeg');
  // background-attachment: fixed;
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
}
